body {
    padding: 0;
    margin: 0;
    font-family: 'Marck Script', cursive;
}
.container {/*отступ по бокам всей страницы*/
    /*background: #17292b;*/
    padding:5px;
}
header .top {/*дизайн шапки*/
    display: flex;
    background: #17292b;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}
.logo {/*выстраивает в ряд логотип и название*/
    display: flex;
    align-items:center;
}
.logo img {/*отступ между логотипом и названием*/
    margin-right:10px;
    
}
.logo p {/*размер шапки*/
    margin: 3px;
}
.logo p span:first-child {/*дизайн названия 1 часть*/
        font-size: 30px;
        font-family: 'Marck Script', cursive;
        color: #D5D5D5;
    }
header .top form input {
    padding: 5px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    outline:none;
}
header .top form button {
    background: #2a9a9b;
    border-radius: 20px;
    color: #D5D5D5;
    padding: 5px 30px 5px 30px;

}
.banner {
    background: url("../ban.jpg") no-repeat center center;
    height:25vw;
    width:auto;
    display:flex;
}
header nav {
    display: flex;
    padding: 0 4px;
}
header nav ul {/* выстраивание ссылок в шапки в строку*/
        display: flex;
        justify-content: center;
        }
header nav ul li {/* дизайн ссылок в шапки*/
        font-size: 25px;
        font-family: 'Marck Script', cursive;
        list-style-type: none;
        flex-basis: 200%;
        text-align: center;
        padding: 0 10px;
    }
header nav ul li a {/* цвет ссылок в шапки*/
    color: #D5D5D5;
}
body {/*дизайн текста в блоках*/
    background-color: #fff;
    font-family: "Open Sans", sans serif;
    line-height: 1.5;
}
.header {
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: wrap; /*перенос строки */
    justify-content: space-between; /*прижимает содержимое к краям */
    align-items: center; /*выравнивает элементы по центру на вертикальной */
}
.header .logo {
    padding-left: 30px;
}
.header .menu ul {
    display: flex;
    list-style: none;
}
.header .menu ul li {
    margin: 20px 10px;
}
.header .menu ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #06a327;
}
.content {
    display: flex;
    justify-content: space-between;
}
.content_left {
    flex-basis: 25%;
}
.content_left section {
    background: #13767b;
    padding: 7px;
}
.content_left article img {
    height:14%;
    width:14%;
    margin-right:14px;
}
.content_left section h3 {
    text-align:center;
    background: #158288;
    font-family: 'Marck Script', cursive;
    color: #D5D5D5;
    font-size: 23px;
    margin: 0;
}
.content_left article {
    display:flex;
    align-items: center;
    width:90%;
    margin: 15px auto;
    padding: 25px 15px;
    border-bottom: 2px groove #13767b;
}
.content_left article p {
    margin: 0;
}
.content_left article p a {
    color: #adadad;
    font-size: 17px;
}
.content_central {/*размер переднего блока*/
   background: #0e5457;
      display:flex;
      flex-basis:74%;
      justify-content:space-between;
}
.content_central .top {/*дизайн блока популярные книги*/
    padding:15px;
    background: #13767b;
    flex-basis: 31%;
}
.content_central .fin {
    padding: 15px;
    background: #13767b;
    flex-basis: 31%;
}
.content_central .int_new {
    padding: 15px;
    background: #13767b;
    flex-basis: 31%;
}
.content_central article img {
    height: 14%;
    width: 14%;
    margin-right: 14px;
}
.content_central section h3 {/* дизайн шапки популярные книги*/
    text-align: center;
    background: #158288;
    font-family: 'Marck Script', cursive;
    color: #D5D5D5;
    font-size: 23px;
    margin: 0;
}
.content_central article {/* размер блока популярные книги*/
    display: flex;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    padding: 15px 10px;
    border-bottom: 2px groove #13767b;
}